@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: #0d5d7c;
    --primary-color-darker: #06465f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;

}

body{
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

    & p{
        margin-top: 20px;
    }
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin: 10px 0px;
}

form input{
    font-size: 24px;
    line-height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
}

form button:hover{
    background-color: var(--primary-color-darker);
}

form button:active{
    background-color: #0d5d7c;
}

.title{
    margin: 20px 0px 20px 0px;
}

.title h1{
    text-align: center;
}

.imc_container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;

    & ol{
        list-style: none;
    }
}

.calcular_imc{

    & h1{
        margin-bottom: 15px;
    }

    & button{
        font-size: 0.8em;
    }
}

#resultado{
    margin-top: 30px;
    text-align: center;
}